/* ==========================================================================
  Links
========================================================================== */


a {
  color: $colorLink;
  text-decoration: none;
  transition: all 0.13s ease-in-out;
  &:hover,
  &:focus {
    color: darken($colorLink, 15%);
  }
}


.link--disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}