/* ==========================================================================
  Media
========================================================================== */


img,
video,
object {
  max-width: 100%;
}

.img-size-standard {
  @include breakpoint(small) {
    width: 180px;
  }
}

.img-size-adjust {
  @include breakpoint(small) {
    width: 222px;
    margin-right: -42px;
  }
}